<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <form action="" class="login">
            <legend class="login__heading">Signup to continue</legend>
            <div class="inputBox">
                <label for="firstName">Firstname: </label>
                <input type="text" id="firstName" name="firstName">
            </div>
            <div class="inputBox">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email">
            </div>
            <div class="inputBox">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password">
            </div>
            <button class="loginBtn">Signup</button>
        </form>
    </div>
</body>
</html>